* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', Georgia;
    font-weight: 400;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    line-height: 45.5px;
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
}

.main-btn {
    border-radius: 100px;
    background-color: transparent;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 13px 45px;
    letter-spacing: 0.09em;
    border-style: none;
    border: 2px solid #F1CDB3;
}

.main-btn:hover {
    cursor: pointer;
    transition-delay: 0.3s;
    border-color: #F1CDB3;
    background-color: #F1CDB3;
}

/* Header */

.header-wrap {
    
    display: flex;
    justify-content: space-between;
    margin: auto 40px;
    padding: 30px 0;
}

.logo a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #545454;
    letter-spacing: 0.09em;
    font-weight: 400;
}

.logo p {
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    margin: 10px auto 0 4px;
    line-height: 15px;
}

.nav-items {
    margin-top: 20px;
    width: 443px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav-items a {
    font-size: 15px;
    color: #545454;
}

.nav-items li:nth-of-type(2) {
    border-bottom: 2px solid #F1CDB3;
}

.nav-items li:nth-of-type(2) a {
    color: #292929;
}

.nav-items li:hover {
    cursor: pointer;
    transition-delay: 0.3s;
    border-bottom: 2px solid #F1CDB3;
}

.nav-items li a:hover {
    transition-delay: 0.3s;
    color: #292929;
}

/* Our friends*/

.our-friends {
    background-color: #f6f6f6;
}

.our-friends-wrap {
    margin: auto 40px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.our-friends-items-wrap button {
    border: 2px solid #F1CDB3;
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 17px;
    letter-spacing: 0.1em;
}

.our-friends-wrap h2 {
    text-align: center;
}

.our-friends-items-wrap {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-friends-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px 40px;
    align-content: space-between;
}

.our-friends-item {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    background-color: #fafafa;
    padding-bottom: 30px;
    gap: 30px;
}

.our-friends-item:hover {
    cursor: pointer;
}

.our-friends-item:hover button {
    transition: 0.3s;
    background-color: #F1CDB3;
}

h4 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    line-height: 22.72px;
}

.our-friends-btns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px auto 100px;
}

.our-friends-btns button {
    border-radius: 100px;
    border-width: 2px;
    padding: 13px 8px;
    width: 52px;
    font-weight: 800;
    font-size: 20px;
}

.our-friends-btns button:nth-of-type(1),
.our-friends-btns button:nth-of-type(2) {
    border-color: #cdcdcd;
    color: #cdcdcd;
}

.our-friends-btns button:nth-of-type(3) {
    background-color: #F1CDB3;
}



/* Footer */

footer {
    background-size: 100%;
    background-image: url(../assets/start-screen-background.jpg);
    background-repeat: no-repeat;
}

.footer-wrap {
    padding: 40px 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 740px;
}

.contacts-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 302px;
    align-content: stretch;
    height: 234px;
}

footer h2 {
    color: #fff;
}

.contact {
    display: flex;
    align-content: space-between;
    gap: 20px;
    align-items: center;
}

.contact a{
    color: #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
}

